In [75]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("aigamer/movie-lens-dataset")

print("Path to dataset files:", path)

# Double check that the files are present
import os
assert os.path.exists(path + "/ratings.csv")
assert os.path.exists(path + "/movies.csv")
assert os.path.exists(path + "/links.csv")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.7).
Path to dataset files: C:\Users\hp\.cache\kagglehub\datasets\aigamer\movie-lens-dataset\versions\1

In [76]:
import pandas as pd

data_path = 'C:/Users/hp/.cache/kagglehub/datasets/aigamer/movie-lens-dataset/versions/1'

movies = pd.read_csv(data_path + '/movies.csv')
ratings = pd.read_csv(data_path + '/ratings.csv')
tags = pd.read_csv(data_path + '/tags.csv')

In [77]:
for df in [movies, ratings, tags]:
    print(df.shape)
    print(df.head(5))
    print('----------------------------------------')
    print(df.head(5))
    print('----------------------------------------')
    print()

(9742, 3)
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
----------------------------------------
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
----------------------------------------

(100836, 4)
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
----------------------------------------
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
----------------------------------------

(3683, 4)
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200
----------------------------------------
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200
----------------------------------------

In [78]:
data = pd.merge(pd.merge(ratings, movies), tags, on='movieId')

In [79]:
len(data)

233213

In [80]:
# Convert the timestamp to datetime
data['timestamp_x'] = pd.to_datetime(data['timestamp_x'], unit='s')

In [81]:
data['timestamp_y'] = pd.to_datetime(data['timestamp_y'], unit='s')

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 233213 entries, 84853 to 228613
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   userId_x        233213 non-null  int64
 1   movieId         233213 non-null  int64
 2   rating          233213 non-null  float64
 3   timestamp_x     233213 non-null  datetime64[ns]
 4   title           233213 non-null  object
 5   genres          233213 non-null  object
 6   userId_y        233213 non-null  int64
 7   tag             233213 non-null  object
 8   timestamp_y     233213 non-null  datetime64[ns]
 9   timestamp_diff  233213 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(3), timedelta64[ns](1)
memory usage: 19.6+ MB

In [83]:
data.head(10)

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y
84853,1,1210,5.0,2000-07-30 18:08:19,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,474,darth vader,2006-01-14 02:52:07
84854,1,1210,5.0,2000-07-30 18:08:19,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,474,luke skywalker,2006-01-14 02:52:07
84855,1,1210,5.0,2000-07-30 18:08:19,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,474,space opera,2006-01-14 02:52:07
97304,1,2628,4.0,2000-07-30 18:08:43,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,474,prequel,2006-01-23 16:03:17
97305,1,2628,4.0,2000-07-30 18:08:43,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,474,the Force,2006-01-23 16:03:17
112570,1,3578,5.0,2000-07-30 18:11:08,Gladiator (2000),Action|Adventure|Drama,62,ancient Rome,2018-06-04 22:48:24
112571,1,3578,5.0,2000-07-30 18:11:08,Gladiator (2000),Action|Adventure|Drama,62,Epic,2018-06-04 22:47:49
112572,1,3578,5.0,2000-07-30 18:11:08,Gladiator (2000),Action|Adventure|Drama,62,history,2018-06-04 22:47:47
112573,1,3578,5.0,2000-07-30 18:11:08,Gladiator (2000),Action|Adventure|Drama,62,imdb top 250,2018-06-04 22:48:18
112574,1,3578,5.0,2000-07-30 18:11:08,Gladiator (2000),Action|Adventure|Drama,62,revenge,2018-06-04 22:48:16

In [84]:
data.tail(10)

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y
231270,610,120635,1.0,2017-05-03 22:28:09,Taken 3 (2015),Action|Crime|Thriller,119,action,2015-08-01 14:28:26
231271,610,120635,1.0,2017-05-03 22:28:09,Taken 3 (2015),Action|Crime|Thriller,119,murder,2015-08-01 14:28:26
231272,610,120635,1.0,2017-05-03 22:28:09,Taken 3 (2015),Action|Crime|Thriller,119,police,2015-08-01 14:28:26
212732,610,3424,5.0,2017-05-03 22:28:43,Do the Right Thing (1989),Drama,474,racism,2006-01-13 22:37:45
212733,610,3424,5.0,2017-05-03 22:28:43,Do the Right Thing (1989),Drama,567,great cinematography,2018-05-02 18:01:36
97582,610,2628,3.0,2017-05-04 06:29:53,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,474,prequel,2006-01-23 16:03:17
97583,610,2628,3.0,2017-05-04 06:29:53,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi,474,the Force,2006-01-23 16:03:17
212420,610,2968,5.0,2017-05-04 06:31:05,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,474,time travel,2006-01-23 16:08:40
225831,610,909,4.5,2017-05-08 19:50:54,"Apartment, The (1960)",Comedy|Drama|Romance,474,adultery,2006-01-14 02:36:02
228613,610,968,4.0,2017-05-28 08:11:10,Night of the Living Dead (1968),Horror|Sci-Fi|Thriller,474,zombies,2006-01-13 19:49:47

In [85]:
# Check for missing values
data.isnull().sum()

userId_x       0
movieId        0
rating         0
timestamp_x    0
title          0
genres         0
userId_y       0
tag            0
timestamp_y    0
dtype: int64

In [86]:
# Get a list of the different movies
len(data['tag'].unique())

1584

In [87]:
# Check for duplicates
data.duplicated().sum()

0

In [88]:
data.shape

(233213, 9)

In [89]:
# Check for outliers
data.describe()

,userId_x,movieId,rating,timestamp_x,userId_y,timestamp_y
count,233213.000000,233213.000000,233213.000000,233213,233213.000000,233213
mean,309.688191,12319.999443,3.966535,2008-06-15 10:00:05.688053760,470.683564,2013-11-18 11:23:32.147153152
min,1.000000,1.000000,0.500000,1996-03-29 18:36:55,2.000000,2006-01-13 19:09:12
25%,156.000000,296.000000,3.500000,2002-03-29 01:16:06,424.000000,2009-05-16 17:18:24
50%,309.000000,1198.000000,4.000000,2008-07-29 09:45:57,477.000000,2016-03-13 20:34:05
75%,460.000000,4638.000000,5.000000,2015-09-25 17:11:10,599.000000,2017-06-26 05:56:57
max,610.000000,193565.000000,5.000000,2018-09-24 14:27:30,610.000000,2018-09-16 11:50:03
std,178.206387,28243.919401,0.968637,NaN,153.329632,NaN

In [90]:
# Check for the mean ratings using pivot tables
pd.pivot_table(data, values='rating', index='title', aggfunc='mean').sort_values(by='rating', ascending=False).head(10)

                                                    rating
title
Come and See (Idi i smotri) (1985)                     5.0
Lady Jane (1986)                                       5.0
Woman Under the Influence, A (1974)                    5.0
Into the Woods (1991)                                  5.0
Two Family House (2000)                                5.0
Crossing Delancey (1988)                               5.0
Match Factory Girl, The (Tulitikkutehtaan tyttö...     5.0
Who Killed Chea Vichea? (2010)                         5.0
More (1998)                                            5.0
Going Places (Valseuses, Les) (1974)                   5.0

In [91]:
# Subtract the first value of the timestamp_x from timestamp_y
data['timestamp_diff'] = data['timestamp_y'] - data['timestamp_x']

len(data['timestamp_diff'].unique())

221610

In [92]:
ratings_group = data.sort_values(by=["timestamp_x"]).groupby("userId_x")

ratings_data = pd.DataFrame(
    data={
        "user_id": list(ratings_group.groups.keys()),
        "movie_ids": list(ratings_group.movieId.apply(list)),
        "ratings": list(ratings_group.rating.apply(list)),
        "timestamps": list(ratings_group.timestamp_x.apply(list)),
    }
)

In [104]:
ratings_data.head()

,user_id,movie_ids,ratings,timestamps
0,1,"[1210, 1210, 1210, 2628, 2628, 3578, 3578, 357...","[5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, ...","[2000-07-30 18:08:19, 2000-07-30 18:08:19, 200..."
1,2,"[318, 318, 318, 318, 79132, 79132, 79132, 7913...","[3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, ...","[2015-10-24 19:27:15, 2015-10-24 19:27:15, 201..."
2,3,"[914, 1263, 2080, 31, 31, 720, 647, 1272, 1093...","[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...","[2011-05-27 02:32:47, 2011-05-27 02:32:49, 201..."
3,4,"[902, 1304, 2351, 2959, 2959, 2959, 2959, 2959...","[4.0, 3.0, 4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...","[1999-12-13 09:47:26, 1999-12-13 09:47:47, 199..."
4,5,"[592, 590, 590, 296, 296, 296, 296, 380, 150, ...","[3.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 2.0, 3.0, ...","[1996-11-08 06:32:27, 1996-11-08 06:32:27, 199..."

In [116]:
sequence_length = 4
step_size = 2


def create_sequences(values, window_size, step_size):
    sequences = []
    start_index = 0
    while True:
        end_index = start_index + window_size
        seq = values[start_index:end_index]
        if len(seq) < window_size:
            seq = values[-window_size:]
            if len(seq) == window_size:
                sequences.append(seq)
            break
        sequences.append(seq)
        start_index += step_size
    return sequences

In [117]:
ratings_data.movie_ids = ratings_data.movie_ids.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

ratings_data.ratings = ratings_data.ratings.apply(
    lambda ids: create_sequences(ids, sequence_length, step_size)
)

del ratings_data["timestamps"]

In [118]:
ratings_data.head()

,user_id,movie_ids,ratings
0,1,"[[1210, 1210, 1210, 2628], [1210, 2628, 2628, ...","[[5.0, 5.0, 5.0, 4.0], [5.0, 4.0, 4.0, 5.0], [..."
1,2,"[[318, 318, 318, 318], [318, 318, 79132, 79132...","[[3.0, 3.0, 3.0, 3.0], [3.0, 3.0, 4.0, 4.0], [..."
2,3,"[[914, 1263, 2080, 31], [2080, 31, 31, 720], [...","[[0.5, 0.5, 0.5, 0.5], [0.5, 0.5, 0.5, 0.5], [..."
3,4,"[[902, 1304, 2351, 2959], [2351, 2959, 2959, 2...","[[4.0, 3.0, 4.0, 2.0], [4.0, 2.0, 2.0, 2.0], [..."
4,5,"[[592, 590, 590, 296], [590, 296, 296, 296], [...","[[3.0, 5.0, 5.0, 5.0], [5.0, 5.0, 5.0, 5.0], [..."