In [17]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("aigamer/movie-lens-dataset")

print("Path to dataset files:", path)

# Double check that the files are present
import os
assert os.path.exists(path + "/ratings.csv")
assert os.path.exists(path + "/movies.csv")
assert os.path.exists(path + "/links.csv")

Path to dataset files: C:\Users\hp\.cache\kagglehub\datasets\aigamer\movie-lens-dataset\versions\1

In [18]:
import pandas as pd

data_path = 'C:/Users/hp/.cache/kagglehub/datasets/aigamer/movie-lens-dataset/versions/1'

movies = pd.read_csv(data_path + '/movies.csv')
ratings = pd.read_csv(data_path + '/ratings.csv')
tags = pd.read_csv(data_path + '/tags.csv')

In [19]:
for df in [movies, ratings, tags]:
    print(df.shape)
    print(df.head(1))
    print('++++++++++++++++++++++++++++++++++++++++')
    print(df.tail(1))
    print('++++++++++++++++++++++++++++++++++++++++')
    print()

(9742, 3)
   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
++++++++++++++++++++++++++++++++++++++++
      movieId                                title  genres
9741   193609  Andrew Dice Clay: Dice Rules (1991)  Comedy
++++++++++++++++++++++++++++++++++++++++

(100836, 4)
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
++++++++++++++++++++++++++++++++++++++++
        userId  movieId  rating   timestamp
100835     610   170875     3.0  1493846415
++++++++++++++++++++++++++++++++++++++++

(3683, 4)
   userId  movieId    tag   timestamp
0       2    60756  funny  1445714994
++++++++++++++++++++++++++++++++++++++++
      userId  movieId               tag   timestamp
3682     610   168248  Heroic Bloodshed  1493844270
++++++++++++++++++++++++++++++++++++++++

In [21]:
data = pd.merge(pd.merge(ratings, movies), tags, on='movieId')

In [23]:
data.head(5)

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
1,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
2,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
3,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
4,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825

In [24]:
# Check for missing values
data.isnull().sum()

userId_x       0
movieId        0
rating         0
timestamp_x    0
title          0
genres         0
userId_y       0
tag            0
timestamp_y    0
dtype: int64

In [25]:
# Get a list of the different movies
len(data['title'].unique())

1554

In [26]:
# Check for duplicates
data.duplicated().sum()

0

In [27]:
data.shape

(233213, 9)

In [28]:
# Check for outliers
data.describe()

,userId_x,movieId,rating,timestamp_x,userId_y,timestamp_y
count,233213.000000,233213.000000,233213.000000,2.332130e+05,233213.000000,2.332130e+05
mean,309.688191,12319.999443,3.966535,1.213524e+09,470.683564,1.384774e+09
std,178.206387,28243.919401,0.968637,2.250448e+08,153.329632,1.534621e+08
min,1.000000,1.000000,0.500000,8.281246e+08,2.000000,1.137179e+09
25%,156.000000,296.000000,3.500000,1.017365e+09,424.000000,1.242494e+09
50%,309.000000,1198.000000,4.000000,1.217325e+09,477.000000,1.457901e+09
75%,460.000000,4638.000000,5.000000,1.443201e+09,599.000000,1.498457e+09
max,610.000000,193565.000000,5.000000,1.537799e+09,610.000000,1.537099e+09

In [29]:
# Check for the mean ratings using pivot tables
pd.pivot_table(data, values='rating', index='title', aggfunc='mean').sort_values(by='rating', ascending=False).head(10)

                                                    rating
title
Come and See (Idi i smotri) (1985)                     5.0
Lady Jane (1986)                                       5.0
Woman Under the Influence, A (1974)                    5.0
Into the Woods (1991)                                  5.0
Two Family House (2000)                                5.0
Crossing Delancey (1988)                               5.0
Match Factory Girl, The (Tulitikkutehtaan tyttö...     5.0
Who Killed Chea Vichea? (2010)                         5.0
More (1998)                                            5.0
Going Places (Valseuses, Les) (1974)                   5.0